*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width:100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 20px;
}

header .logo img{
    width: 40px;
    height: 40px;
}

nav ul{
    display:flex;
    gap: 40px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}

header .burger{
    display: none;
}

#home{
    background-color:lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.home-content p{
    font-size:20px ;
    margin-bottom: 20px;
}

.home-content button{
    font-size:18px;
    border:none;
    background-color: black;
    padding: 10px 20px;
}

.home-content button a{
    color:white;
    text-decoration: none;
}

#form{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.form-content{
    background-color:grey;
    padding:50px;
    width:80%;
    border-radius:15px;
}

.form-content form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:20px;
}

.form-content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.form-content form input, form textarea{
    padding:10px;
    border:none;
    border-radius:10px;
}

form .submit{
    width:10%;
}

footer{
    font-weight: bold;
    width:100%;
    text-align:center;
    background-color:lightgray;
    padding:15px;
    font-size:20px;
}

@media screen and (max-width: 1000px){
    
}

.about {
  padding: 80px 10%;
  background-color: #e0e0e0;
  text-align: center;
  margin-bottom:15px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.about-text {
  max-width: 500px;
  text-align: left;
}

.about-text h2 {
  margin-bottom: 15px;
}

.about-text p {
  line-height: 1.6;
}

.about-details {
  padding: 80px 10%;
  background-color:lightgrey;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.details-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

.details-box h3 {
  margin-bottom: 15px;
}

.details-box p {
  line-height: 1.6;
}

.details-box ul {
  padding-left: 20px;
}

.details-box li {
  margin-bottom: 8px;
}

htmk{
    scroll-behavior:smooth;
}
